{% extends "base.html" %}
{% block main %}
    <h1 class="text-4xl font-bold text-center my-4 font-[Kanit] md:hidden">Top 3 cars this week!</h1>
    <section class="grid grid-cols-4 m-5 gap-4 md:grid-cols-8 lg:grid-cols-12">
        {% for car in top_cars %}
            <div class="grid grid-rows-1 col-span-4 row-span-1 card bg-base-100 w-full shadow-lg rounded-2xl max-w-fit mx-auto">
                <div class="card shadow-lg m-5 overflow-x-hidden">
                    <figure class="lg:aspect-5/4">
                        <img
                                src="{{ car.image.url }}"
                                alt="{{ car.brand|add:' ' }}{{ car.model }}"
                                class="w-full h-full object-contain md:object-cover"/>
                    </figure>
                    <div class="card-body rounded-b-2xl">
                        <h2 class="card-title text-5xl mb-4">
                            {{ car.brand|add:' ' }}{{ car.model|add:' ' }}{{ car.year }}</h2>
                        <div class="badges mb-4 space-y-4">
                            <div class="flex flex-wrap gap-4">
                                <div class="badge badge-soft badge-primary text-xl">{{ car.engine }}</div>
                                <div class="badge badge-soft badge-primary text-xl">{{ car.horsepower }}hp</div>
                                <div class="badge badge-soft badge-primary text-xl">{{ car.torque }}nm</div>
                            </div>
                            <div class="flex flex-wrap gap-4">
                                <div class="badge badge-soft badge-primary text-xl">{{ car.transmission|title }}</div>
                                <div class="badge badge-soft badge-primary text-xl">{{ car.drivetrain }}</div>
                                <div class="badge badge-soft badge-primary text-xl">{{ car.fuel_type|title }}</div>
                            </div>
                        </div>
                        <div class="card-actions justify-end">
                            <button class="btn btn-primary text-3xl">Owner:{{ car.owner.username }}</button>
                        </div>
                        <div class="stat">
                            <div class="stat-figure text-primary">
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        class="inline-block h-8 w-8 stroke-current">
                                    <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
                                </svg>
                            </div>
                            <div class="stat-title">Total Likes</div>
                            <div class="stat-value text-primary">25.6K</div>
                            <div class="stat-desc">21% more than last month</div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </section>
{% endblock %}