{% extends "base.html" %}
{% block main %}
    <div class="card lg:card-side bg-base-100 shadow-sm my-4 min-h-[600px]">
        <figure class="lg:w-[60%] flex items-center justify-center p-4">
            <img
                src="media/images/car_images/zdjecie.jpg"
                alt="Album"
                class="rounded-lg shadow-2xl object-cover max-h-[600px] w-full"/>
        </figure>
        <div class="card-body lg:w-[40%] flex flex-col justify-center">
            <h2 class="card-title">New album is released!</h2>
            <p>Click the button to listen on Spotiwhy app.</p>
            <div class="card-actions justify-end">
                <button class="btn btn-primary">Listen</button>
            </div>
        </div>
    </div>

    <div class="divider mx-8">Comments</div>
    <div class="flex flex-col lg:flex-row gap-4 my-8 mx-8">
        <div class="card bg-base-300 rounded-box grid h-32 flex-grow place-items-center">content</div>
        <div class="divider lg:divider-horizontal"></div>
        <div class="card bg-base-300 rounded-box grid h-32 flex-grow place-items-center">content</div>
        <div class="divider lg:divider-horizontal"></div>
        <div class="card bg-base-300 rounded-box grid h-32 flex-grow place-items-center">content</div>
    </div>
    <div class="divider mx-8"></div>
{% endblock %}
